<%#
Wallpaper form for editing or adding wallpapers

Author:: Nishad
Update(12/1/17):: [Stephen] Added loading button and visually disabled upload button upon upload
#%>
<div id="wallpaper-edit-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@wallpaper) do |f| %>
          <% if @wallpaper.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@wallpaper.errors.count, "error") %> prohibited this wallpaper from being saved:</h2>
              <ul>
              <% @wallpaper.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image %><br>
            <%= f.file_field :image, class: "form-control-file" %>
          </div>
          <div class="field">
            <%= f.label "Tags" %><br>
            <%= f.text_field :tag_list, 'data-role' =>'tagsinput', id: "testID"%>
          <div class="actions">
            <%= f.submit "Upload", class: "btn btn-primary", id: "wallpaper-upload-button" %>
            <span id="upload-loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Client side validation for the form
  $("#new_wallpaper").validate({
    // Set up the rules for the fields
    rules: {
      "wallpaper[title]": "required",
      "wallpaper[image]": {
        required: true,
        extension: "jpg|jpeg|png|gif"
      }
    },
    // Error messages
    messages: {
      "wallpaper[title]": "Please enter a title!",
      "wallpaper[image]": {
        required: "Please select an image!",
        extension: "Your file must be one of these types: .jpg, .jpeg, .png, .gif!"
      }
    },
    // Called when validation is successful
    submitHandler: function(form) {
      $("#upload-loading").css("display", "inline");
      $("#new_wallpaper").submit();
    }
  });
</script>
