<%#
Wallpaper index page -- show many loaded wallpapers

Author:: Nishad
#%>
<section id="content" class="container">
  <!-- Show sort buttons if not searching -->
  <% if params[:search].nil? && params[:title].nil? && params[:tags].nil?%>
    <section id="sort-buttons" class="row">
      <div class="btn-group">
        <a href="/popular" class="btn btn-default">Popular</a>
        <a href="/top" class="btn btn-default">Top</a>
        <a href="/latest" class="btn btn-default">Latest</a>
      </div>
    </section>
  <% end %>
  <!-- Also show Nishad's Picks if not searching -->
  <% if !params[:search] && !params[:tag] && !@search%>
    <section id="nishads-picks">
      <%= render "nishad" %>
    </section>
  <% end %>
  <!-- Render the wallpapers -->
  <section id="wallpapers">
    <!-- Display search results -->
    <% if @wallpapers.blank? && params[:search]%>
        <h4>Sorry! There are no wallpapers containing the term <%= params[:search] %>.</h4>
    <% elsif @wallpapers.blank? && @search%>
        <h4>Sorry! No wallpapers matching your search were found.</h4>
    <% elsif params[:search] %>
      <h4>Results for "<%= params[:search] %>" (Count: <%= @results_count %>)</h4>
    <% elsif params[:tag] %>
      <h4>Wallpapers tagged "<%= params[:tag] %>" (Count: <%= @results_count %>)</h4>
    <% elsif params[:title] || params[:tag] || params[:image_width] || params[:image_height]%>
      <% @wallpapers.length > 1 ? term = "wallpapers" : term = "wallpaper"%>
      <h4><%= @results_count %> <%= term %> found:</h4>
    <% end %>
    <%= render "/partials/images" %>
  </section>
</section>
<br>

<!-- Button to load more -->
<div id="load-more">Load More</button>
</div>
<div id="infinite-scrolling">
  <%= paginate @wallpapers %>
</div>
