<p id="notice"><%= notice %></p>

<h1>Listing Wallpapers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallpapers.each do |wallpaper| %>
      <tr>
        <td><%= wallpaper.title %></td>
        <td><%= link_to 'Show', wallpaper %></td>
        <td><%= link_to 'Edit', edit_wallpaper_path(wallpaper) %></td>
        <td><%= link_to 'Destroy', wallpaper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallpaper', new_wallpaper_path %>
