<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wallpaper.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @wallpaper.image.url(:med) %>
</p>

<%= link_to 'Edit', edit_wallpaper_path(@wallpaper) %> |
<%= link_to 'Back', wallpapers_path %>
