<%#
View individual wallpaper pages

Author:: Nishad
#%>

<div class="single-wallpaper">
  <%= image_tag @wallpaper.image.url(:original) %>
</div>
<div class="wallpaper-info">
  <h2><%=@wallpaper.title %></h2>
  <% if @wallpaper.uploader %>
    <h4>Uploaded by <%= @wallpaper.uploader.nickname %></h4>
    <% end %>
  <!-- List tags -->
  <div class="taglist" id="popular-tags">
    <%= render partial: 'partials/taglist', locals: {list_title: "Popular Tags", tag_list: @wallpaper.all_tags_list} %>
  </div>
  <% if signed_in? %>
    <div class="taglist">
      <div id="user-tags" style="display:inline">
        <%= render partial: 'partials/taglist', locals: {list_title: "Your Tags", tag_list: @wallpaper.owner_tags_on(current_user, :tags)} %>
      </div>
      <span class="wallpaper-tag" id="plus"><strong>+</strong></span>
      <div id="user-tags-input-container" style="display:none">
        <input type="text" value="<%= (@wallpaper.owner_tags_on(current_user, :tags).map {|tag| tag.name}).join(",") %>" data-role="tagsinput" id="user-tags-input" />
      </div>
    </div>
  <%end%>
  <h4 > Views: <%= @view_count %> </h4>
  <div id="favorite-button-container">
    <%= render partial: "favorite_button", locals: { wallpaper: @wallpaper } %>
  </div>
  <h4 id="favorite-label"> Favorites: <%= @wallpaper.favorited_by.size %> </h4>

  <%= link_to 'Back', root_url %>
</div>
