<%#
View individual wallpaper pages

Author:: Nishad
#%>

<div class="single-wallpaper">
  <%= image_tag @wallpaper.image.url(:original) %>
</div>
<div class="wallpaper-info">
  <h2><%=@wallpaper.title %></h2>
  <% if @wallpaper.uploader %>
    <h4>Uploaded by <%= @wallpaper.uploader.nickname %></h4>
    <% end %>
  <!-- List tags -->
  <div class="taglist">
    <h4 style="display:inline"> Popular Tags: </h4>
    <% @wallpaper.all_tags_list.each do |tag| %>
      <span class="wallpaper-tag"><a href="<%= root_url %>tags/<%= tag %>"><%= tag %></a></span>
    <% end %>
  </div>
  <% if signed_in? %>
    <div class="taglist">
      <h4 style="display:inline"> Your Tags: </h4>
      <div id="user-tags" style="display:inline">
        <% @wallpaper.owner_tags_on(current_user, :tags).each do |tag| %>
          <span class="wallpaper-tag"><a href="<%= root_url %>tags/<%= tag %>"><%= tag %></a></span>
        <% end %>
          <span class="wallpaper-tag" id="plus"><strong>+</strong></span>
      </div>
    </div>
  <%end%>
  <h4 > Views: <%= @view_count %> </h4>

  <%= link_to 'Back', root_url %>
</div>
