<%#
Main header page

Author:: Nishad
Update(11/27/17):: [Stephen] Added Login button
Update(11/28/17):: [Martin] Added basic search bar
%>
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'GudWallpapers', root_url, class: "navbar-brand" %>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse" data-toggle="collapse" data-target="#navbarCollapse">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Upload', new_wallpaper_path, remote: true%></li>
            </ul>
            <ul class="nav navbar-nav" role="search" style="padding: 15px">
                <li>
                    <%= form_tag(wallpapers_path, :method => "get", id: "search-form") do %>
                        <%= text_field_tag :search, params[:search], placeholder: "Search Wallpapers" %>
                        <%= submit_tag "Search", :name => nil %>
                    <% end %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <% if signed_in? %>
                      <%= current_user.name %>
                      <a href="/logout">Logout</a>
                    <% else %>
                      <a href="/auth/auth0">Login</a>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</header>
