<%#
Wallpaper modal form for the advanced search.

Author:: Martin
#%>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Advanced Search</h4>
      </div>
      <div class="modal-body">
          <!-- Form fields for each search parameter -->       
          <%= form_tag('/advsearch', :method => "post", id: "search-form", class: "navbar-form", role: "search") do %>
            <div class="form-group">
            <%= label_tag :title %><br>
            <%= text_field_tag :title, nil, class: "form-control" %>
          </div>
          <div class="form-field">
            <%= label_tag :tags %><br>
            <%= text_field_tag :tags, nil, class: "form-control" %>
          </div>
          <div class="form-field">
            <%= label_tag :image_width %><br>
            <%= text_field_tag :image_width, nil, class: "form-control"%>
          </div>
          <div class="form-field">
            <%= label_tag :image_height %><br>
            <%= text_field_tag :image_height, nil, class: "form-control"%>
          </div>
          <div class="actions">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
