<%#
Main application page, loadded on all pages

Author:: Stephen, Nishad
Update(11/30/17):: [Stephen] Added viewport to scale for mobile better
%>

<!DOCTYPE html>
<html>
<head>
  <title>Gud Wallpapers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Render header partial and yield -->
  <%= render "/partials/header" %>
  <%= yield %>
</body>
</html>
