<%#
Main page.

Author:: Nishad
%>

<!DOCTYPE html>
<html>
<head>
  <title>GudWallpapers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Render header partial and yield -->
<%= render "/partials/header" %>

<%= yield %>

</body>
</html>
